html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: #666;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', Lucida,
    Arial, Helvetica, sans-serif;
}

h1 {
  color: #666;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
}

a {
  color: #0095dd;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2255aa;
  text-decoration: underline;
}

figure {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

figcaption {
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
}

/* controls */
figure.vs_videoContainer {
  width: 100%;
  position: relative;
  margin-bottom: 10px !important;
}

.vs_videoContainer video,
.vs_videoContainer img {
  width: 100%;
  vertical-align: middle;
}

.vs_video-controls,
.vs_video-controls>* {
  padding: 0;
  margin: 0;
}

.vs_videoContainer button {
  background: transparent;
}

.vs_videoContainer button:hover {
  background: transparent;
}

.vs_video-controls {
  width: 100%;
  overflow: hidden;
  background: transparent;
  /* of figure's height */
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 8px 12px 8px 8px;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
  border-radius: 10px;
  z-index: 9999;
  -webkit-box-sizeing: border-box;
  -moz-box-sizeing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.vs_video-controls[data-state='hidden'] {
  display: none;
}

.vs_video-controls[data-state='visible'] {
  display: block;
}

.vs_video_time {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99999;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px 15px 0px;
  border-radius: 5px;
  font-family: sans-serif;
}

.vs_video-controls>* {
  float: left;
  width: 3.90625%;
  height: 100%;
  margin-left: 0.1953125%;
  display: block;
}

.vs_video-controls>*:first-child {
  margin-left: 0;
}

.vs_video-controls .progress {
  cursor: pointer;
  width: 75.390625%;
}

.vs_video-controls button {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  cursor: pointer;
  text-indent: -99999px;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  opacity: 0;
  background-size: 100%;
  transition: 0.15s linear;
}

.vs_videoContainer:hover .vs_video-controls button {
  opacity: 0.5;
}

.vs_videoContainer:hover .vs_video-controls:hover button {
  opacity: 1;
}

.vs_video-controls button:hover,
.vs_video-controls button:focus {
  opacity: 1;
  background-size: 100%;
  background: transparent;
  outline: none;
}

.vs_video-controls button[data-state='play'] {
  background-image: url('../img/player_play.png');
  width: 30px;
  height: 30px;
  background-size: 100%;
}

.vs_video-controls button[data-state='pause'] {
  background-image: url('../img/player_pause.png');
  width: 30px;
  height: 30px;
  background-size: 100%;
}

.vs_video-controls button[data-state='go-fullscreen'] {
  background-image: url('../img/fullscreen.png');
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 10px;
  float: right;
  background-size: 100%;
}

.vs_video-controls button.vs_volume {
  width: 160px;
  height: 25px;
  cursor: initial;
}

.vs_video-controls button.vs_volume .vs_volume__icon,
.vs_video-controls button.vs_volume .vs_volume__icon[data-state='mute'] {
  background-image: url('../img/volume.png');
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 10px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  background-size: 100%;
  cursor: pointer;
  position: relative;
}

.vs_video-controls button.vs_volume .vs_volume__icon[data-state='muted'] {
  background-image: url('../img/mute.png');
  background-size: 100%;
}

.vs_unmute_btn {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 200, 0.5);
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  color: #eee;
  cursor: pointer;
}

.vs_video-controls button.vs_volume .vs_volume__controller {
  display: block;
  width: 100px;
  height: 5px;
  background-color: #eee;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
  float: left;
  margin-top: 12px;
  margin-left: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.vs_video-controls button.vs_volume .vs_volume__pointer {
  width: 15px;
  height: 13px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  left: 40px;
  top: -4px;
}

.vs_video-controls button[data-state='cancel-fullscreen'] {
  background-image: url('../img/exitfullscreen.png');
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 10px;
  float: right;
  background-size: 100%;
}

.vs_video-controls progress {
  display: block;
  width: 100%;
  height: 81%;
  margin-top: 2px;
  margin-top: 0.125rem;
  border: none;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #0095dd;
  /* Internet Explorer uses this value as the progress bar's value colour */
}

.vs_video-controls progress[data-state='fake'] {
  background: #e6e6e6;
  height: 65%;
}

.vs_video-controls progress span {
  width: 0%;
  height: 100%;
  display: inline-block;
  background-color: #2a84cd;
}

.vs_video-controls progress::-moz-progress-bar {
  background-color: #0095dd;
}

/* Chrome requires its own rule for this, otherwise it ignores it */
.vs_video-controls progress::-webkit-progress-value {
  background-color: #0095dd;
}

/* fullscreen */
html:-ms-fullscreen {
  width: 100%;
}

:-webkit-full-screen {
  background-color: transparent;
}

video:-webkit-full-screen+.vs_video-controls {
  background: #ccc;
  /* required for Chrome which doesn't heed the transparent value set above */
}

video:-webkit-full-screen+.vs_video-controls progress {
  margin-top: 0.5rem;
}

/* hide controls on fullscreen with WebKit */
figure[data-fullscreen='true'] video::-webkit-media-controls {
  display: none !important;
}

figure[data-fullscreen='true'] {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
}

figure[data-fullscreen='true'] video {
  height: auto;
}

figure[data-fullscreen='true'] figcaption {
  display: none;
}

figure[data-fullscreen='true'] .vs_video-controls {
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: 9999;
}

figure[data-fullscreen='true'] .vs_video-controls li {
  width: 5%;
}

figure[data-fullscreen='true'] .vs_video-controls .progress {
  width: 68%;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  figure {
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }
}

@media screen and (max-width: 42.5em) {
  .vs_video-controls {
    height: auto;
  }

  .vs_video-controls>* {
    display: block;
    width: 16.6667%;
    margin-left: 0;
    height: 40px;
    height: 2.5rem;
  }

  .vs_video-controls .progress {
    /*display:table-caption;*/
    /* this trick doesn't work as elements are floated and the layout doesn't work */
    position: absolute;
    top: 0;
    width: 100%;
    float: none;
    margin-top: 0;
  }

  .vs_video-controls .progress progress {
    width: 98%;
    margin: 0 auto;
  }

  .vs_video-controls button {
    background-position: center center;
  }

  figcaption {
    text-align: center;
    margin-top: 0.5rem;
  }
}

/*General styles*/
button:active,
button:focus {
  outline: none;
}

/* Ads style */
.vs_video_main {
  position: relative;
}

.vs_video_main .vs_ads {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99999;
}

.vs_ads .vs__single_ad {
  width: 100%;
  height: 100%;
}

.vs_ads .vs__single_ad .vs__video_ad {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.vs_ads img {
  max-width: 100%;
}

button.vs__skip_btn {
  min-width: 115px;
  background: transparent;
  opacity: 0.85;
  color: #fff;
  text-indent: 0;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 99999999;
  cursor: pointer;
  transition: 0.2s ease-out;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button.vs__skip_btn:hover,
button.vs__skip_btn:active,
button.vs__skip_btn:focus {
  opacity: 1;
  outline: none;
}

.vs_video_placeholder {
  background: #63dd8d;
  padding: 1.5rem;
  text-align: center;
}

.vs_video_placeholder h2 {
  color: #333;
  font-weight: 300;
  margin-top: 12px;
  font-size: 1.8rem;
}

.vs_video_placeholder h2::before,
.vs_video_placeholder h2::after {
  display: none;
}

.vs_video_placeholder img {
  text-align: center;
  vertical-align: middle;
}

.vs_video_loading {
  position: absolute;
  left: 43%;
  top: 36%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 99999;
  opacity: 0.5;
}

.vs_video_loading img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-transfrom: scale(1.1);
  transform: scale(1.1);
}

p.vs_video_info {
  color: #555;
  margin-top: 10px !important;
  font-size: 0.9rem;
  line-height: 1;
}

.vs_live_now {
  float: right;
  font-size: 16px;
  margin-right: 10px;
  width: 38px;
  height: 25px;
  text-align: right;
  position: relative;
  color: #eee;
  line-height: 1.8;
}

.vs_live_now::before {
  content: '';
  width: 6px;
  height: 6px;
  background: #f00;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 0;
}

.vs_priview_container {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.play_pause_animation {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 39%;
  top: 30%;
  z-index: 99999;
}

.play_pause_animation[data-icon='play'] {
  background-image: url('../img/play.png');
}

.play_pause_animation[data-icon='pause'] {
  background-image: url('../img/pause.png');
}

.loading {
  background-image: url('../img/loading.gif');
}

.animate_focus {
  -webkit-animation-name: animate_focus;
  animation-name: animate_focus;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes animate_focus {
  0% {
    opacity: 1;
    -webkit-transfrom: scale(1.2);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transfrom: scale(1);
    transform: scale(0.5);
  }
}

@-webkit-keyframes animate_focus {
  0% {
    opacity: 1;
    -webkit-transfrom: scale(1.2);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transfrom: scale(1);
    transform: scale(0.5);
  }
}